body {
  background: #e5e5e5;
}

.container {
  margin: auto;
  width: auto;
}
.perfil {
  /* Ellipse 2 */

  box-sizing: border-box;

  position: absolute;
  width: 213px;
  height: 213px;
  left: 612px;
  top: 201px;

  border: 2px solid #bb99dd;
}

.instagram {
  /* @instagram */

  position: absolute;
  width: 99px;
  height: 24px;
  left: 669px;
  top: 429px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  text-align: center;

  color: #bb99dd;
}

.retangulo1 {
  /* Rectangle 3 (Stroke) */

  box-sizing: border-box;
  position: absolute;
  width: 326px;
  height: 49px;
  left: 556px;
  top: 486px;
  margin: 0;
  border: 2px solid #bb99dd;
  border-radius: 4px;
}

a {
  position: absolute;
  width: 47px;
  height: 24px;
  left: 697px;
  top: 498px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #bb99dd;
}

.retangulo2 {
  box-sizing: border-box;

  position: absolute;
  width: 326px;
  height: 49px;
  left: 556px;
  top: 551px;

  border: 2px solid #bb99dd;
  border-radius: 4px;
}
.retangulo3 {
  box-sizing: border-box;

  position: absolute;
  width: 326px;
  height: 49px;
  left: 556px;
  top: 616px;

  border: 2px solid #bb99dd;
  border-radius: 4px;
}
.retangulo4 {
  box-sizing: border-box;

  position: absolute;
  width: 326px;
  height: 49px;
  left: 556px;
  top: 681px;

  border: 2px solid #bb99dd;
  border-radius: 4px;
}

.Group {
  position: absolute;
  width: 236px;
  height: 24px;
  left: 601px;
  top: 798px;
}

.twitter {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 601px;
  top: 798px;
}

.twitch {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 654px;
  top: 798px;
}

.instagram_icon {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 707px;
  top: 798px;
}

.linkedin {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 760px;
  top: 798px;
}

.github {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 813px;
  top: 798px;
}
